In [1]:
import pandas as pd 
import seaborn as sns 
import numpy as np

In [4]:
df = pd.read_csv("Iris.csv")

In [5]:
df.describe

<bound method NDFrame.describe of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [6]:
df.info

<bound method DataFrame.info of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [7]:
df.shape

(150, 6)

In [14]:
df2 = df.groupby("Species",observed = True)["SepalWidthCm"].sum()

In [15]:
df2.head()

Species
Iris-setosa        170.9
Iris-versicolor    138.5
Iris-virginica     148.7
Name: SepalWidthCm, dtype: float64

In [17]:
df3 = df.groupby("Species",observed =True)["SepalLengthCm"].mean()
df3.head()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [18]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [19]:
df4 = df.groupby("Species",observed =True).mean()
df4.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.006,3.418,1.464,0.244
Iris-versicolor,75.5,5.936,2.770,4.260,1.326
Iris-virginica,125.5,6.588,2.974,5.552,2.026

In [20]:
df5 = df.groupby("Species",observed =True).median()
df5.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.0,3.4,1.50,0.2
Iris-versicolor,75.5,5.9,2.8,4.35,1.3
Iris-virginica,125.5,6.5,3.0,5.55,2.0

In [23]:
df6 = df.groupby("Species",observed =True).max()
df6.head()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       50            5.8           4.4            1.9           0.6
Iris-versicolor  100            7.0           3.4            5.1           1.8
Iris-virginica   150            7.9           3.8            6.9           2.5

In [24]:
df7 = df.groupby("Species",observed =True).min()
df7.head()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            4.3           2.3            1.0           0.1
Iris-versicolor   51            4.9           2.0            3.0           1.0
Iris-virginica   101            4.9           2.2            4.5           1.4

In [25]:
df8 = df.groupby("Species",observed =True).std()
df8.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,14.57738,0.352490,0.381024,0.173511,0.107210
Iris-versicolor,14.57738,0.516171,0.313798,0.469911,0.197753
Iris-virginica,14.57738,0.635880,0.322497,0.551895,0.274650

In [ ]:
df9 = df.groupby("Species",observed =True)
df9.head()

In [28]:
x_25 = 0.25 
x_75 = 0.75 
df10  = df.groupby("Species",observed =True).quantile(x_75)
df10.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,37.75,5.2,3.675,1.575,0.3
Iris-versicolor,87.75,6.3,3.000,4.600,1.5
Iris-virginica,137.75,6.9,3.175,5.875,2.3

In [29]:
df10  = df.groupby("Species",observed =True).quantile(x_25)
df10.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,13.25,4.800,3.125,1.4,0.2
Iris-versicolor,63.25,5.600,2.525,4.0,1.2
Iris-virginica,113.25,6.225,2.800,5.1,1.8

In [31]:
df11  = df.groupby("Species",observed =True).quantile(1)
df11.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,50.0,5.8,4.4,1.9,0.6
Iris-versicolor,100.0,7.0,3.4,5.1,1.8
Iris-virginica,150.0,7.9,3.8,6.9,2.5

In [34]:
df12  = df.groupby("Species",observed =True).quantile(0)
df13 = df.groupby("Species",observed =True).min()
#quantile 0 and min should be equal 
print(df12.head())
print(df13.head())

                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa        1.0            4.3           2.3            1.0
Iris-versicolor   51.0            4.9           2.0            3.0
Iris-virginica   101.0            4.9           2.2            4.5

                 PetalWidthCm
Species
Iris-setosa               0.1
Iris-versicolor           1.0
Iris-virginica            1.4
                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            4.3           2.3            1.0           0.1
Iris-versicolor   51            4.9           2.0            3.0           1.0
Iris-virginica   101            4.9           2.2            4.5           1.4